@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Nunito+Sans&family=Work+Sans:wght@300&display=swap');
body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: black;
  color: white;
  margin:0%;
  padding:0%;
}
#vert{
  position: fixed;
  margin-top: 220px;
  left: 5px;
  writing-mode: vertical-rl;
  z-index: 2;
}
#myTopnav{
  list-style-type: none;
  position: absolute;
  right: 2%;
  text-align: right;
  z-index: 2;
  margin-top: 25px;
}
.menu a{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding-right:20px ;
  transition: 0.3s;
}
.menu a:hover{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  text-decoration: underline;
  color: white;
  padding-right:10px ;
}
.menu a:active{
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  text-decoration: underline;
  color: white;
  padding-right:10px ;
}
h1{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color:white;
  text-align: center;
}
img{
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#bb{
  background-color: black;
  height: 15%;
}
#bb2{
  background-color: black;
  height:15%;
}
#bl{
  background-color: #ffc100;
  height:fit-content;
}
#center{
  height: min-content;
}
#home2{
  margin:0px 200px;
  padding: 100px 0px;
  text-align: justify;
}
.btn:link, .btn:visited {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 193, 0);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5%;
}

.btn:hover, .btn:active {
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 964px) {
  h1{
    font-size: 30px;
  }
}
@media only screen and (max-width: 901px) {
  h1{
    font-size: 28px;
  }
  #home2{
    margin: 0px 70px;
  }
}
@media only screen and (max-width: 735px) {
  h1{
    font-size: 20px;
  }
  #home2{
    margin: 0px 70px;
  }
}
@media only screen and (max-width: 541px) {
  h1{
    font-size: 14px;
  }
}
@media only screen and (max-width: 389px) {
  h1{
    
    font-size: 12px;
  }
  #home2{
    margin: 0px 40px;
  }
  #vert{
    left: 0px;
  }
}

.model {
  width: 100%;
  height: 100%;
}